<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- 属于vue的部分 -->
    <div id="root">
        <ul>
            <li v-for="num in n">{{num}}</li>
        </ul>

        <hr />
        <ul>
                <li v-for="x in n">{{x-1}}</li>
        </ul>

    </div>
</body>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

<script>
    //这部分数据javascript本身部分
    window.onload = function(){
        const vm = new Vue({
            el: "#root", //要渲染范围
            //要渲染数据有哪些
            data : {
                n:12 
            }
        })
    }
</script>

</html>